@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("clash-display.scss");

body {
    background-image: url("https://fastly.picsum.photos/id/944/1920/1080.jpg?hmac=idwoFuSfF0tFozlsOEYTM372Y5p5Pe48q7yBKigQ18E");
    background-repeat: no-repeat;
    background-size: cover;
}
